body {
  margin: 1em;
}

td,th {
  padding: 0.5em 1em;
}

.game:hover {
  background-color: #00000004
}
th,
.game td {
  background-color: #00000008
}
.game:nth-child(odd) td {
  background-color: #6d606011
}

.game.game-over .time {
  text-decoration: line-through;
}

.game .team {
  cursor: pointer;
}
.team-1 {
  text-align: right;
}

.game.game-over .team {
  color: #999
}
.game.game-over .team.won {
  color: #008800
}
.game .team.selected {
  background-color: #1d9c3d1f
}